@import 'main.less';

header {
  width: 80%;
  text-align: center;
  margin: 100px auto 0;
  background-color: @white;
}

header * {
  margin-top: -75px;
}

header section {
  margin-top: 10px;
}

.resume-title h1 {
  margin: @base-margin;
}

main {
  text-align: left;
  margin: 0 auto;
  background-color: @white;
  width: 80%;
}

.about-section {
  padding-top: 20px;
  margin: @base-margin;
}

.about-section h1 {
  color: @primary-color;
}

.about-section * {
  margin-bottom: @base-margin;
}

.main-article {
  margin: @base-margin;
  padding: 20px 0 20px 0;
}

.main-article h1 {
  color: @primary-color;
}

.main-article section {
  display: flex;
  margin-top: @base-margin;
}

.main-article section span {
  flex: 1;
  font-weight: bold;
  font-size: @base-font-size;
  font-family: @font-family;
}

.main-article section div {
  flex: 7;
  background-color: @gray;
  padding: @base-padding;
}

.main-article section div * {
  margin-top: @base-margin;
  font-family: @font-family;
}
